[submodule "python-frs"]
	path = python-frs
	url = git@github.com:AkanTahu/python-frs.git
	branch = baremetal
[submodule "rekachain-web"]
	path = rekachain-web
	url = git@github.com:rekachain/rekachain-web.git
	branch = isal-frs-baremetal
